.AdminComplain nav li:nth-of-type(1) a {
    color: #F74D4D;
}

.btnOpen {
    margin-bottom: 50px;
}

.offcanvas {
    background-color: black !important;
    color: white !important;
    border: 1px solid gray !important;
}

.offcanvasHeader img {
    width: 70px;
    height: 70px;
}

.offcanvasBody img {
    margin: 20px 0px 20px 0px;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: flex-end;
    width: 1110px;
    height: 500px;  
}

.leftSide {
    flex: 1;
    height: 150px;
    margin-bottom: 200px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 3;
}

.rightSide img {
    width: 339px;
    height: 50px;
    margin-bottom: 45px;
}

.rightSide input {
    width: 925px;
    height: 59px;
    background-color: rgba(171, 171, 171, 0.15);
    padding: 0px 30px 0px 30px;
    border: 1px solid rgba(171, 171, 171, 0.15);
}